table {
  width: 100%;

  box-shadow: -1px 12px 12px -6px rgba(0, 0, 0, 0.5);
}

table,
td,
th {
  padding: 20px;

  border: 1px solid lightgray;

  border-collapse: collapse;

  text-align: center;

  cursor: pointer;
}

td {
  font-size: 14px;
}

th {
  background-color: blue;

  color: white;
}

tr:nth-child(odd) {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: #ededed;
}
